### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
.DS_Store

### STM32CubeIDE workspace metadata
.metadata/
plant_monitor_stm32/.metadata/

### STM32 build output
plant_monitor_stm32/Debug/
plant_monitor_stm32/Release/
