# Build outputs
Debug/
Release/
build/

# Object and dependency files
*.o
*.d

# Compiled binaries
*.elf
*.bin
*.hex
*.map
*.list

# Eclipse/STM32CubeIDE settings
.settings/

# STM32CubeIDE workspace metadata
*.launch
.metadata/